<!DOCTYPE html>
<html lang="zh-CN">

<head>
		
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>springBootDemo实例BootStrap</title>
<!--样式文件引用-->
		<link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<script src="/js/jquery-3.2.1.min.js"></script>
		<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

		</head>
    <body>

			<h1>Hello! I was a ftl...</h1>
	
    </body>
</html>